*{
	  margin: 0;
	  padding: 0;
	  font-family: Century Gothic;
}

header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../6);
	height: 100vh;
	background-size: cover;
	background-position: center;

}

ul{
	float: left;
	list-style-type: none;
    margin-top: 25px;

}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	padding: 5px 10px;
	color: mistyrose;
	border: 1px solid transparent;
	transition: 0.6s ease;
}

ul li a:hover{
	background-color: mistyrose;
	color: black;
}
ul li.active a{
	background-color: mistyrose;
	color: #000;
}
.title{
	position: absolute;
	top: 15%;
	left: 18%;
	transform: translate(-50%,-50%);
}

.title h1{
	color: mistyrose;
	font-size: 0px;
}

img{
	width: 150px;
	border-radius: 0%;
	position: absolute;
	top: 5%;
	left:78%;
}
.intro p{
	position: absolute;
	top: 50%;
	left: 35%;
	transform: translate(-50%,-50%);
}

.intro p{
	color: mistyrose;
	font-size: 20px; 
	font-weight: lighter;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}
.box{
	position: absolute;
	top: 70%;
	left: 85%;
	transform: translate(-50%,-50%);
}

.box h5{
	color: mistyrose;

	font-size: 18px;
	font-weight: 50;
	ext-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}

